*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Monomakh", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    max-width: 900px;
    margin: auto;
    background-color: #b0b0b0;
}



.container {
    margin: 2vw auto;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "left right";
    background-color: #545454;
    color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

header {
    box-sizing: border-box;
    background-color: #696464;
    grid-area: header;
    text-align: center;
    padding: 2vh 0;
}

.sidebar {
    grid-area: left;
}

.sidebar_holder {
    padding: 5% 10% 5% 5%;
    text-align: center;
}

.main {
    grid-area: right;
    background-color: #1f1f1f;
}

.main_holder {
    padding: 5% 10% 5% 5%;
    text-align: center;  
}