* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Monomakh", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    max-width: 900px;
    margin: auto;
    box-shadow: 0vw 0vh 0vw 100vw #b0b0b0;
    background-color: #545454;
    color: #fff;
}



.container {
    display: grid;
    grid-template-columns: 250px 1fr; /* ліва фіксована, права гнучка */
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header"
      "left right";
}

header {
    background-color: #696464;
    grid-area: header;
    place-items: center;
    padding: 2vh 0;
}

.sidebar {
    grid-area: left;
}

.sidebar_holder {
    /* display: grid;
    place-items: center; */
    padding: 5vh 10vw 5vh 5vw;
}

.main {
    grid-area: right;
    background-color: #1f1f1f;
}